body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(235, 190, 210);
  position: relative;
  overflow-x: hidden;
}

#background-video {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#background-video-mobile {
  display: none;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.menu-item a {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  #background-video-mobile {
    display: none;
  }

  #background-video {
    display: block;
  }
}

/* For mobile phones */
@media only screen and (max-width: 767px) {
  #background-video {
    display: none;
  }

  #background-video-mobile {
    display: block;
  }
}

.logo {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}



.about-logo {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.about-logo img {
  max-width: 280px;
  height: auto;
  z-index: 1000;

}


.logo img {
  max-width: 280px;
  height: auto;
  z-index: 1000;

}

.top-nav {
  display: flex;
  justify-content: space-between;
  /* This ensures maximum spacing between logo and hamburger */
  align-items: center;
  /* This centers items vertically if they have different heights */
  position: fixed;
  top: 5px;
  /* You can adjust as needed */
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 1000;
}

.hamburger {
  width: 80px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: 20px;
}

.line {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: pink;
  transition: background-color 0.3s ease;
}

.line:nth-child(1) {
  background-color: #fdedf4;
}

.line:nth-child(2) {
  background-color: #fbe0ec;
}

.line:nth-child(3) {
  background-color: #ffd3e7;
}

@keyframes cycleColors {

  0%,
  100% {
    background-color: #fdedf4;
  }

  33% {
    background-color: #fbe0ec;
  }

  66% {
    background-color: #ffd3e7;
  }
}

.hamburger:hover .line:nth-child(1) {
  animation: cycleColors 1.5s infinite;
}

.hamburger:hover .line:nth-child(2) {
  animation: cycleColors 1.5s 0.5s infinite;
}

.hamburger:hover .line:nth-child(3) {
  animation: cycleColors 1.5s 1s infinite;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(235, 190, 210);
}

/* #menu-select {
  padding-bottom: 20px;
} */

.menu.active { 
  display: flex;
  align-items:center;
}

.menu-item {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Mukta Vaani', sans-serif;
  color: #fff;
  line-height: .7;
  padding: 0 0;
  display: block;
}



a:hover {
  color: #da4444;
}

/* 
IS THE MENU TOO LOW? CHANGE THIS MARGIN-BOTTOM VALUE */

#contact {
    margin-bottom:10vh;
}

.aboutPC {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 901;
  padding-left: 100px;  
  transition: transform 0.6s ease;
  display: none;
  flex-direction: column;
  justify-content:left;
  background-color: rgb(235, 190, 210);
}

#about-text {
  width: 40%;
}

@media (max-width:420px) {
  #about-text {
    width: 80%;
    padding-left: 20px;
  }
  .aboutPC {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 75px;
    text-align: center;
  }
} 

@media (max-width:1024px) {
  #about-text {
    width: 80%;
    padding-left: 20px;
  }

  .aboutPC {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    text-align: left;
  }
}


.aboutPC.active {
  display: flex;
  transform: translateY(0);
  overflow:scroll;
}

@media (max-width:420px) {
  .menu-item {
    font-size: 75px;
  }
  
}

.client-list ul {
  /* display:table-column; */
  /* justify-content:flex-end; */
  justify-items: left;
  /* width: 40%; */
  /* margin-top: 220px; */
  columns: 2;
  column-gap:normal;
  margin-bottom: 200px;
}

.client-column {
  /* width: 33%; */
  list-style: none;
  margin-top: 0px;
  
}

.client-column li {
  margin: 0 0 5px 0;
  font-family: "Mukta Vaani", "san-serif";
  font-weight: lighter;
  font-size: 15pt;
  color: #fff;
  line-height: 1;
  margin-left: -40px;
  /* padding-right: 20px; */
  
}

@media (max-width: 768px) {
  .client-list {
    flex-direction: column;
  }
  .client-column {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .client-column li {
    font-size: 13pt;
  }
}







.contactPC {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 901;
  padding-left: 100px;
  display: none;
  flex-direction: column;
  justify-content: left;
  background-color: rgb(235, 190, 210);
  overflow-y:scroll;
}

.contactPC.active {
  display: flex;
  transform: translateY(0);
  text-align: left;
}

.address {
  padding-right: 60px;
}

.address p {
  font-family: "Mukta Vaani", "san-serif";
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
  margin: 0px;
}

.address a {
  font-family: "Mukta Vaani", "san-serif";
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
}

.personal h2 {
  font-family: "Mukta Vaani", "san-serif";
  font-weight:800;
  font-size: 24px;
  color: #fff;
  margin-bottom: -10px;
}

.personal p {
  font-family: "Mukta Vaani", "san-serif";
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
  margin: 0px;
}

#email {
  font-family: "Mukta Vaani", "san-serif";
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}
a {
  color: #fff;
  margin: 0%;
}

.personal a {
  text-decoration: none;
  font-family: "Mukta Vaani", "san-serif";
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
}

.personal-email {
  margin-top: -10px;
}

#contact-text {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  width: 100;
  flex-direction: column;
  padding-right: 60px;
}

/* @media screen and (max-width: 420px) {
  #contact-text {
      padding-left: 5px;
      padding-right: 0px;
      overflow-y: scroll;
      padding-top: 100px;
}
} */

/* .contact-logo {
  position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.contact-logo img {
  max-width: 100px;
    height: auto;
    z-index: 1000;
} */

h1 {
  font-family: "Mukta Vaani";
  font-weight:bolder;
  font-size: 40pt;
  color: #fff;
  text-align:left ;
}

p {
  font-family: "Mukta Vaani", "san-serif";
  font-weight:lighter;
  font-size: 16pt;
  color: #fff;
  line-height: 1;
}






















/* ... (other styles) ... */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-flow: dense;
  /* Arrange items efficiently */
}

.thumbnail {
  position: relative;
  /* overflow: hidden; */
  /* Remove this line */
  border-radius: 5px;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.thumbnail:hover img {
  filter: brightness(70%);
}

.thumbnail-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* Remove this line */
  padding: 5px;
  color: white;
  font-size: 24px;
  font-family: 'Mukta Vaani', sans-serif;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
}

/* ... (other styles) ... */


@media (max-width: 768px) {
  .gallery-grid {
    gap: 5px;
    /* Adjust gap for mobile view */
  }

  .thumbnail {
    flex: 1 1 100%;
    /* Full width on mobile */
  }
}

@media (max-width: 768px) {
  .logo img {
    max-width: 280px;
        top: 15px;
    /* or whatever size ensures it doesn't overlap with the hamburger */
  }
}
  .hamburger {
    width: 40px;
    /* Adjust if needed */
  }

@media (max-width: 500px) {
  .logo {
    max-width: 280px;
    top: 15px;
    /* slight move to ensure spacing */
  }
  .hamburger {
      width: 40px;
      top: 30px;
      right: 10px;
    /* adjust as necessary */
  }
}
